<%- include('../partials/header') %>
<body>
    <h1>Todo List App</h1>
    <% todos.forEach(function(m) { %>
      <div class="list">
        <div class="list-name"><%= m.name %></div>
      </div>
      <% }); %>
</body>



<%- include('../partials/footer') %>