<%- include('../partials/header') %>

<form id="new-form" action="/todos" method="POST">
  <label>List Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add List">
</form>

<%- include('../partials/footer') %>
